// Font
$mainFont                : 'Myriad Pro', sans-serif;

// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 29px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
